<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Coffee Blog Web site is a place for coffee geeks and freaks to share thoughts about coffee</p>
    <br>
    <p>To contact the developer please call 054-4226456 or send an email to benhazoom12@gmail.com enjoy :)</p>

    </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>